<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Desarrollo Web</title>
    <script src="https://kit.fontawesome.com/a77ac5db8b.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../public/stylesheets/styles.css">
</head>

<body>
    <header class="encabezado-fijo">
        <div class="avatar">
            <div class="img_contenedor"><img src="../public/images/gise.jpg" alt=""></div>
            <div>
                <h1>Giselda Arevalo</h1>
                <p>Diseñadora UX/UI</p>
            </div>
        </div>
        <nav>
            <ul>
                <li><a href="#quien-soy">Quien soy</a></li>
                <li><a href="#experiencia">Experiencia</a></li>
                <li><a href="#proyectos">Proyectos</a></li>
                <li><a href="#contacto">Contacto</a></li>
                <li><a href="#redes">Redes</a></li>
            </ul>
        </nav>
    </header>
    <section>
        <h2 id="quien-soy">Quien soy</h2>
        <div class="quien-soy">
            <div class="descripcion">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam labore minus illo nihil quia ipsum ad obcaecati, corrupti cupiditate alias. Recusandae enim sint a magni aspernatur autem? Tenetur, officiis. Possimus.
                Eligendi commodi sunt deserunt deleniti quas quia magni voluptas id quisquam illum dolor ipsam, enim vitae iste cupiditate laborum perferendis magnam. Quidem excepturi iusto velit vitae adipisci aliquam itaque ducimus?
                Ullam, quaerat ut! Placeat earum consequatur libero dolorum labore! Amet saepe mollitia vel eligendi nesciunt. Magni, earum animi? Vero reiciendis animi aspernatur beatae eum dolor optio totam neque numquam nulla?
                Delectus accusantium id rerum illo, quae, architecto sit dolor enim officia veniam fugit nisi suscipit iste possimus in, esse eaque. Qui fugit modi voluptate eum distinctio tenetur quis consequatur voluptates!
                Modi aut hic magni tenetur minus iusto cupiditate facere assumenda a eos totam eveniet animi, alias dolorem ducimus nemo necessitatibus at cum. Fuga debitis non accusamus nostrum odit labore illum.
                </p>
            </div>
            <div class="img2_contenedor">
                <img src="../public/images/diseño.jpg" alt="">
            </div>
        </div>
    </section>
    <section id="experiencia">
        <h2>Experiencias</h2>
        <article>
            <h3>Experiencia 1</h3>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Totam ea suscipit exercitationem reprehenderit illo vero voluptas eveniet fugit iste minus labore, accusantium maiores amet quam vel alias saepe. Deleniti, velit.</p>
        </article>
        <article>
            <h3>Experiencia 2</h3>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Totam ea suscipit exercitationem reprehenderit illo vero voluptas eveniet fugit iste minus labore, accusantium maiores amet quam vel alias saepe. Deleniti, velit.</p>
        </article>
    </section>
    <section id="proyectos">
        <h2>PROYECTOS</h2>
        <div  class="proyectos">
            <div class="card">
                <div class="img_card">
                    <img src="../public/images/ionic1.jpg" alt="">
                </div>
                <div class="descripcion_card">
                    <p>
                        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Facilis veniam eligendi totam maiores cumque, dignissimos cum expedita facere molestiae illo esse fugiat magni est rerum. Dolorum quaerat delectus provident blanditiis.
                    </p>
                </div>
            </div>
            <div class="card">
                <div class="img_card">
                    <img src="../public/images/ionic2.jpg" alt="">
                </div>
                <div class="descripcion_card">
                    <p>
                        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Facilis veniam eligendi totam maiores cumque, dignissimos cum expedita facere molestiae illo esse fugiat magni est rerum. Dolorum quaerat delectus provident blanditiis.
                    </p>
                </div>
            </div>
            <div class="card">
                <div class="img_card">
                    <img src="../public/images/ionic3.jpg" alt="">
                </div>
                <div class="descripcion_card">
                    <p>
                        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Facilis veniam eligendi totam maiores cumque, dignissimos cum expedita facere molestiae illo esse fugiat magni est rerum. Dolorum quaerat delectus provident blanditiis.
                    </p>
                </div>
            </div>
        </div>
    </section>
    <section id="contacto">
        <h2>Formulario de contacto </h2>
        <div class="contacto">
            <div class="form_contenedor">
                <form action="#" class="formulario">
                    <div class="campo">
                        <label for="nombre">Nombre:</label>
                        <input type="text" id="nombre" name="nombre">
                    </div>
                    <div class="campo">
                        <label for="email">Email:</label>
                        <input type="email" id="email" name="email">
                    </div>
                    <div class="campo">
                        <label for="consulta">Consulta:</label>
                        <textarea id="consulta" name="consulta" cols="30" rows="10"></textarea>
                    </div>
                    <button type="submit">Enviar</button>
                </form>
            </div>
            <div class="img_contacto">
                <img src="../public/images/contacto.jpg" alt="">
            </div>
        </div>
    </section>
    <footer id="redes">
        <nav>
            <ul>
                <li><a href="/"><i class="fab fa-facebook"></i></a></li>
                <li><a href="/"><i class="fab fa-instagram"></i></a></li>
                <li><a href="/"><i class="fab fa-linkedin"></i></a></li>
                <li><a href="/"><i class="fab fa-behance-square"></i></a></li>
            </ul>
        </nav>
    </footer>    
</body>

</html>