<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Usabilidad</title>
</head>
<body>
    <h1>Evaluación Heurística Parte 1: Usabilidad</h1>
    <h3>Hablemos de Usabilidad</h3>
    <figure>
        <img src="../public/images/banner_usabilidad.jpg" alt="">
        <figcaption>Esta es una imagen de usabilidad</figcaption>
    </figure>
    <p>
        La usabilidad es un aspecto del diseño que evalúa qué tan fácil y eficiente es para los usuarios interactuar con un producto, sistema o interfaz.
        Una buena usabilidad reduce la probabilidad de errores, mejora la satisfacción del usuario y hace que los productos sean más intuitivos y manejables.
        Se mide por 5 componentes de calidad:
    </p>
    <figure>
        <img src="../public/images/usabilidad.jpg" alt="">
        <figcaption>Esta es una imagen de usabilidad</figcaption>
    </figure>
    
</body>
</html>