* {
    box-sizing: border-box;
    margin: 0;
    padding:0;
}

li{
    list-style: none;
}

a {
    text-decoration: none;
    color: white;
}


body {
    background-color: var(--colorNegro);
    font-family: 'Kanit', sans-serif;
    color: var(--colorBlanco);
    max-width: 980px;
    margin: 0 auto;
}

img {
    width: 100%;
}

h2{
    padding: 20px 0px;
}